# File ini berisi semua dependensi Python yang dibutuhkan untuk menjalankan
# pipeline analisis sentimen.
# Gunakan perintah berikut untuk menginstalnya:
# pip install -r requirements.txt

# Core Libraries
tensorflow==2.16.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2

# NLP Libraries
transformers[sentencepiece]==4.41.2
Sastrawi==1.0.1
nltk==3.8.1

# Utility & Plotting
requests==2.32.0
matplotlib==3.8.4
seaborn==0.13.2